body {
    margin: 0px !important;
    font-family: 'Montserrat', sans-serif;
}

/* Estilos para el navbar */
.navbar {
    background-color: #E50000;
    /* Color rojo */
    display: flex;
    justify-content: space-between;
    /* Espacio entre logo y enlaces */
    align-items: center;
    /* Centrado vertical */
    padding: 10px 20px;
    /* Espaciado interno */
    padding-top: 30px;
    padding-bottom: 30px;
}

.navbar .logo {
    color: #FFFFFF;
    /* Texto blanco */
    font-weight: bold;
    /* Negrita */
    font-size: 1.5rem;
    /* Tamaño del logo */
    text-decoration: none;
    /* Sin subrayado */
}

/* Estilos para los enlaces de navegación */
.navbar .nav-links {
    flex-grow: 1;
    /* Para usar el espacio disponible */
    display: flex;
    justify-content: center;
    /* Centra los enlaces */
    gap: 90px;
    /* Espaciado entre enlaces */
}

/* Enlaces en la barra de navegación */
.navbar .nav-links a {
    color: #FFFFFF;
    /* Texto blanco */
    font-weight: bold;
    /* Negrita */
    font-size: 35px;
    /* Tamaño grande de texto para los enlaces */
    text-decoration: none;
    /* Sin subrayado */
}

/* Efecto hover para los enlaces */
.navbar .nav-links a:hover {
    color: #E50000;
    /* Color de relleno rojo */
    -webkit-text-stroke: 1px white;
    /* Borde blanco */
}

@media (max-width: 768px) {
    .navbar .nav-links a {
        font-size: 24px;
        /* Reduce el tamaño de los enlaces en pantallas pequeñas */
    }

    .navbar .nav-links {
        gap: 30px;
        /* Reduce el espacio entre enlaces */
    }
}

footer {
    background-color: #E50000;
    /* Fondo rojo */
    color: white;
    text-align: center;
    padding-bottom: 12px;
    padding-top: 12px;
    margin-top: auto;
    /* Empuja el footer al final de la página */
    width: 100%;
    /* Asegura que ocupe todo el ancho */
}

.footer-rail {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow: hidden;
    width: 100%;
    font-weight: 900;
    font-style: italic;
    text-align: center;
    /* Espacio entre el rail y el contenido del footer */
}

.footer-rail p {
    font-size: 1.5rem;
    font-weight: bold;
    animation: slide 10s linear infinite;
    white-space: nowrap;
    margin-right: 5px;
}

@keyframes slide {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.contenedor-footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* Permite que sea responsivo */
    text-align: center;
    gap: 10px;
    /* Espaciado entre los textos */
}

.contenedor-footer p {
    margin: 0;
    font-size: 1rem;
}

.texto-blanco {
    color: white;
}

.texto-borde {
    color: #E50000;
    /* Color de relleno negro */
    -webkit-text-stroke: 1px white;
    /* Borde blanco */
}

@media (max-width: 768px) {
    .contenedor-footer {
        flex-direction: column;
    }

    .footer-rail p {
        font-size: 1rem;
    }
}