body {
    margin: 0px !important;
    font-family: 'Montserrat', sans-serif;
}

/* Estilos para el navbar */
.navbar {
    background-color: #E50000;
    /* Color rojo */
    display: flex;
    justify-content: space-between;
    /* Espacio entre logo y enlaces */
    align-items: center;
    /* Centrado vertical */
    padding: 10px 20px;
    /* Espaciado interno */
    padding-top: 30px;
    padding-bottom: 30px;
}

.navbar .logo {
    color: #FFFFFF;
    /* Texto blanco */
    font-weight: bold;
    /* Negrita */
    font-size: 1.5rem;
    /* Tamaño del logo */
    text-decoration: none;
    /* Sin subrayado */
    margin-left: 80px;
}

/* Estilos para los enlaces de navegación */
.navbar .nav-links {
    flex-grow: 1;
    /* Para usar el espacio disponible */
    display: flex;
    justify-content: center;
    /* Centra los enlaces */
    gap: 90px;
    /* Espaciado entre enlaces */
}

/* Enlaces en la barra de navegación */
.navbar .nav-links a {
    color: #FFFFFF;
    /* Texto blanco */
    font-weight: bold;
    /* Negrita */
    font-size: 35px;
    /* Tamaño grande de texto para los enlaces */
    text-decoration: none;
    /* Sin subrayado */
}

/* Efecto hover para los enlaces */
.navbar .nav-links a:hover {
    color: #E50000;
    /* Color de relleno rojo */
    -webkit-text-stroke: 1px white;
    /* Borde blanco */
}

@media (max-width: 768px) {
    .navbar .nav-links a {
        font-size: 24px;
        /* Reduce el tamaño de los enlaces en pantallas pequeñas */
    }

    .navbar .nav-links {
        gap: 30px;
        /* Reduce el espacio entre enlaces */
    }
}

footer {
    background-color: #E50000;
    /* Fondo rojo */
    color: white;
    text-align: center;
    padding-bottom: 12px;
    padding-top: 12px;
    margin-top: auto;
    /* Empuja el footer al final de la página */
    width: 100%;
    /* Asegura que ocupe todo el ancho */
}

.footer-rail {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow: hidden;
    width: 100%;
    font-weight: 900;
    font-style: italic;
    text-align: center;
    /* Espacio entre el rail y el contenido del footer */
}

.footer-rail p {
    font-size: 1.5rem;
    font-weight: bold;
    animation: slide 10s linear infinite;
    white-space: nowrap;
    margin-right: 5px;
}

@keyframes slide {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.contenedor-footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* Permite que sea responsivo */
    text-align: center;
    gap: 10px;
    /* Espaciado entre los textos */
}

.contenedor-footer p {
    margin: 0;
    font-size: 1rem;
}

.texto-blanco {
    color: white;
}

.texto-borde {
    color: #E50000;
    /* Color de relleno negro */
    -webkit-text-stroke: 1px white;
    /* Borde blanco */
}

@media (max-width: 768px) {
    .contenedor-footer {
        flex-direction: column;
    }

    .footer-rail p {
        font-size: 1rem;
    }
}



.carta {
    background-color: rgb(0, 0, 0);
    /* Fondo negro para toda la página */
}

.container {
    display: flex;
      flex-direction: column;
      align-items: center;
  }
  
  .row {
    margin-bottom: 20px;
  }
  
  .row.justify-content-center {
    text-align: center;
  }

/* Estilo de la tarjeta */
.card {
    width: 18rem;
    margin: 20px;
    margin-bottom: 20px;
    /* Espacio entre las tarjetas */
    border-radius: 10px;
    /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Sombra sutil */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* Transiciones suaves solo para transform y sombra */
}

/* Efecto de resalto en la tarjeta */
.card:hover {
    transform: scale(1.05);
    /* Aumentar el tamaño de la tarjeta */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    /* Sombra alrededor de la tarjeta */
    color: #fd9a06;
}

/* Estilo para el cuerpo de la tarjeta */
.card-body {
    text-align: center;
    padding: 10px;
    background-color: #E50000;
    /* Color rojo estándar de Bootstrap */
    border-radius: 0 0 10px 10px;
}

/* Estilo del enlace dentro de la tarjeta */
.card-body a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

/* Efecto al pasar el mouse sobre el enlace */
.card-body a:hover {
    color: #333;
    /* Cambiar a un gris oscuro cuando se pase el mouse */
}

/* Estilo de la imagen de la tarjeta */
.card-img-top {
    border-radius: 10px 10px 0 0;
    transition: transform 0.3s ease, filter 0.3s ease;
    /* Transiciones suaves solo para la imagen */
}

/* Efecto de resalto en la imagen */
.card-img-top:hover {
    transform: scale(1.05);
    /* Aumentar el tamaño de la imagen */
    filter: brightness(1.2);
    /* Aumentar el brillo de la imagen */
}


p {
    color: white;
}


/* Centramos el contenido del cuerpo de la tarjeta */
.card-body {
    text-align: center;

}

/* Para centrar el div con el título 'Entrantes' */
.entrantes {
    display: inline-block;
    /* Asegurarse de que se ajuste solo al tamaño del texto */
    background-color: #E50000;
    /* Fondo rojo */
    color: white;
    /* Texto blanco */
    padding: 20px 40px;
    /* Espaciado dentro del contenedor */
    border-radius: 5px;
    /* Bordes redondeados */
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    /* Para hacerlo en mayúsculas */
    margin-bottom: 20px;
    /* Espacio debajo *
    text-align: center; /* Centrar el texto dentro del div */
    padding: 10px 20px;
    justify-content: center;
    /* Centrar contenido horizontalmente */
    align-items: center;
    /* Centrar contenido verticalmente */
    margin-top: 40px;
}

.contenedor-menu {
    display: flex;
    flex-direction: column; /* Alinear las filas verticalmente */
    align-items: center; /* Centrar las tarjetas horizontalmente */
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    /* Eliminar margen izquierdo para evitar desplazamiento */
}


/* Estilo del contenedor que gira */
.rueda-container {
    position: absolute;
    left: 0; /* Mantenerla a la izquierda */
    top: 20%; /* Ajustar según tu diseño */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 150px;
    margin-left: 20px; /* Espacio con el borde izquierdo */
    z-index: 10; /* Asegura que esté sobre otros elementos */
}

.rueda {
    width: 150px;
    /* Ancho de la rueda */
    height: 150px;
    /* Alto de la rueda */
    border-radius: 50%;
    /* Hacerlo redondo */
    border: 5px solid #E50000;
    /* Borde de la rueda */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    animation: girar 10s linear infinite;
    /* Animación de giro infinito */
}

/* Estilo del texto dentro de la rueda */
.eslogan {
    font-size: 18px;
    font-weight: bold;
    color: #E50000;
    text-transform: uppercase;
    transform-origin: center center;
    /* El punto de giro será el centro del texto */
    text-align: center;
    padding: 10px;
}

/* Estilo del Modal */
.modal-content {
    background-color: #333;
    /* Fondo oscuro para el modal */
    color: white;
    /* Texto blanco */
}

/* Estilo del Encabezado del Modal */
.modal-header {
    background-color: #e50000;
    /* Fondo rojo en el encabezado */
    color: white;
    /* Color del texto en el encabezado */
    border-bottom: 2px solid #fff;
    /* Línea blanca debajo del encabezado */
}

/* Estilo del Título del Modal */
.modal-title {
    color: white;
    /* Color blanco para el título */
}

/* Estilo del Cuerpo del Modal */
.modal-body {
    background-color: #444;
    /* Fondo oscuro para el cuerpo del modal */
    color: white;
    /* Color blanco para el texto */
}

/* Estilo del Pie del Modal */
.modal-footer {
    background-color: #333;
    /* Fondo oscuro para el pie del modal */
    color: white;
    /* Color blanco para el texto */
    border-top: 2px solid #fff;
    /* Línea blanca encima del pie */
}

/* Estilo del Botón Cerrar */
.close {
    color: white;
    /* Color del botón de cerrar */
    opacity: 1;
    /* Opacidad al máximo para que se vea bien */
}

/* Estilo al pasar el mouse sobre el botón Cerrar */
.close:hover {
    color: #e50000;
    /* Cambia el color del botón al rojo al pasar el mouse */
}


/* Animación de giro */
@keyframes girar {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
        /* Gira 360 grados */
    }
}
 /* Cambiar cursor a puntero en títulos e imágenes */
 .card-img-top:hover,
 .card-body a:hover {
     cursor: pointer;
 }
  /* Estilos para el modal */
  .modal-content {
    text-align: center;
    padding: 20px;
}

.modal-body img {
    width: 100%;
    max-width: 300px;
    margin: 0 auto 20px;
    border-radius: 10px;
}

.modal-body p {
    text-align: justify;
    margin-bottom: 10px;
}

.modal-body .alergenos {
    color: #ffc107; /* Amarillo para los alérgenos */
    font-weight: bold;
    margin-top: 10px;
}