body {
    margin: 0px !important;
    font-family: 'Montserrat', sans-serif;
    background-color: #000;
    /* Fondo negro */
}


/* Estilos para el navbar */
.navbar {
    background-color: #E50000;
    /* Color rojo */
    display: flex;
    justify-content: space-between;
    /* Espacio entre logo y enlaces */
    align-items: center;
    /* Centrado vertical */
    padding: 10px 20px;
    /* Espaciado interno */
    padding-top: 30px;
    padding-bottom: 30px;
}

.navbar .logo {
    color: #FFFFFF;
    /* Texto blanco */
    font-weight: bold;
    /* Negrita */
    font-size: 1.5rem;
    /* Tamaño del logo */
    text-decoration: none;
    /* Sin subrayado */
    margin-left: 80px;
}

/* Estilos para los enlaces de navegación */
.navbar .nav-links {
    flex-grow: 1;
    /* Para usar el espacio disponible */
    display: flex;
    justify-content: center;
    /* Centra los enlaces */
    gap: 90px;
    /* Espaciado entre enlaces */
}

/* Enlaces en la barra de navegación */
.navbar .nav-links a {
    color: #FFFFFF;
    /* Texto blanco */
    font-weight: bold;
    /* Negrita */
    font-size: 35px;
    /* Tamaño grande de texto para los enlaces */
    text-decoration: none;
    /* Sin subrayado */
}

/* Efecto hover para los enlaces */
.navbar .nav-links a:hover {
    color: #E50000;
    /* Color de relleno rojo */
    -webkit-text-stroke: 1px white;
    /* Borde blanco */
}

@media (max-width: 768px) {
    .navbar .nav-links a {
        font-size: 24px;
        /* Reduce el tamaño de los enlaces en pantallas pequeñas */
    }

    .navbar .nav-links {
        gap: 30px;
        /* Reduce el espacio entre enlaces */
    }
}

/* Sección de reservas */
.reservas {
    margin: 30px auto;
    /* Espacio entre el header y la sección */

    /* Espaciado lateral */
    width: 100%;
    /* Ocupar todo el ancho */
}

.reservas form {
    display: flex;
    /* Alinea los elementos horizontalmente */
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* Espacio entre elementos */
    background-color: #e0e0e0;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    /* Ocupar todo el ancho disponible */
    max-width: 1200px;
    /* Máximo ancho */
    margin: 0 auto;
    /* Centrado */
    box-sizing: border-box;
}

.reservas form select,
.reservas form input,
.reservas form button {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex: 1;
    /* Hace que los elementos se ajusten al espacio */
    min-width: 150px;
    /* Evita que sean muy pequeños */
}

.reservas form button {
    background-color: #e50000;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    flex: 0.5;
    /* Botón más pequeño que los otros inputs */
}

.reservas form button:hover {
    background-color: #c00000;
}

/* Estilo general para el contenedor */
.restaurant-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px;
    margin-left: 150px;
    margin-right: 150px;
}


/* Estilo para cada restaurante */
.restaurant {
    background-color: red;
    padding: 15px;
    color: white;
    border-radius: 5px;
}


/* Estilo para el contenido del restaurante */
.restaurant-content {
    display: flex;
    align-items: center;
    color: #000;
    gap: 15px;
    /* Espacio entre la imagen y el texto */
}


/* Imagen del restaurante */
.restaurant-img {
    width: 150px;
    height: 100px;
    object-fit: cover;
    /* Mantiene la proporción de la imagen */
    border-radius: 5px;
}


/* Información del restaurante */
.restaurant-info {
    flex: 1;
    /* Hace que el texto ocupe el espacio restante */
}


.restaurant h3 {
    margin-bottom: 10px;
    font-size: 1.2em;
    color: #000;
}



footer {
    background-color: #E50000;
    /* Fondo rojo */
    color: white;
    text-align: center;
    padding-bottom: 12px;
    padding-top: 12px;
    margin-top: auto;
    /* Empuja el footer al final de la página */
    width: 100%;
    /* Asegura que ocupe todo el ancho */
}


.footer-rail {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow: hidden;
    width: 100%;
    font-weight: 900;
    font-style: italic;
    text-align: center;
    /* Espacio entre el rail y el contenido del footer */
}


.footer-rail p {
    font-size: 1.5rem;
    font-weight: bold;
    animation: slide 10s linear infinite;
    white-space: nowrap;
    margin-right: 5px;
}


@keyframes slide {
    0% {
        transform: translateX(100%);
    }


    100% {
        transform: translateX(-100%);
    }
}


.contenedor-footer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* Permite que sea responsivo */
    text-align: center;
    gap: 10px;
    /* Espaciado entre los textos */
}


.contenedor-footer p {
    margin: 0;
    font-size: 1rem;
}


.texto-blanco {
    color: white;
}


.texto-borde {
    color: #E50000;
    /* Color de relleno negro */
    -webkit-text-stroke: 1px white;
    /* Borde blanco */
}


@media (max-width: 768px) {
    .contenedor-footer {
        flex-direction: column;
    }


    .footer-rail p {
        font-size: 1rem;
    }
}